---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro'
import Badge from '../components/Badge.astro'
import LinkedInIcon from '../components/icons/LinkedIn.astro'
import GitHubIcon from '../components/icons/GitHub.astro'
import GmailIcon from '../components/icons/Gmail.astro'
import TieIcon from '../components/icons/Tie.astro'
import CodeIcon from '../components/icons/Code.astro'
import PersonIcon from '../components/icons/Person.astro'
import SocialPill from '../components/SocialPill.astro'
import Experience from '../components/Experience.astro'
import Projects from '../components/Projects.astro'
import AboutMe from '../components/AboutMe.astro'
---

<Layout 
	title="Leandro Alonso's Portfolio - Web Developer and Systems Analyst"
	description="Get in touch with me to create your ultimate web application. I'm a Web Developer and Systems Analyst specialized in crafting user-centric solutions..">
	<main class="px-4">
		
		<SectionContainer id="home" class="py-44 pb-0">
		<img loading="lazy" class="rounded-full size-24 mb-4" src="/phColor.webp" alt="leandro photo" />
		<div class="relative h-[55px] w-full">
			<h1 class="text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10 frText">
				Hi, I'm Leandro! 
				<a href="https://www.linkedin.com/in/leandro-alonso-work/"
				target="_blank"
				rel="noopener noreferrer"
				class="flex justify-center items-center"><Badge>Available for hire</Badge></a>
			</h1>
			<h1 class="text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10 bgText">
				Hi, I'm Leandro! 
			</h1>
		</div>
		<h2 class="text-l lg:text-xl text-wrap max-w-[700px] mt-2 lg:mt-8"><span class="font-semibold">Frontend Developer</span> & <span class="font-semibold">Systems Analyst</span>.<br></h2>
		<h2 class="text-l lg:text-xl text-wrap max-w-[700px] mt-2 lg:mt-8">
			I specialize in crafting user-centric digital solutions.<br>
			Let's turn your ideas into reality!
		</h2>

		<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/leandro-alonso-work/">
						<LinkedInIcon class="size-5 md:size-6" />
						LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/LeoAlonso20">
						<GitHubIcon class="size-5 md:size-6" />
						GitHub
				</SocialPill>
				<SocialPill href="mailto:alonsoleandrowork@gmail.com">
					<GmailIcon class="size-5 md:size-6" />
					alonsoleandrowork@gmail.com
			</SocialPill>
			</nav>
		</SectionContainer>
		
		<SectionContainer id="experience">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center pt-20">
				<TieIcon class="size-7"/>
				Professional Experience
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="projects">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center pt-20">
				<CodeIcon class="size-7"/>
				Projects
			</h2>
			<Projects />
		</SectionContainer>

		<SectionContainer id="about">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center pt-20">
				<PersonIcon class="size-7"/>
				About Me
			</h2>
			<AboutMe />
		</SectionContainer>
	</main>
</Layout>

<style>
	h1 {
		position: absolute;
		
	}

	.frText {
		color: currentColor;
		z-index: 2;
	}

	.frTextDark {
    background-image: linear-gradient(to right, violet, pink, red, orange);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

	.bgText {
		background-image: linear-gradient(to right, #D8BFD8, #CCCCFF, #93C5FD, #f56d84, #fab370, #FFDAB9, #FFA07A);
		-webkit-background-clip: text;
		color: transparent;
		left: -3px
	}

	@media (max-width: 768px) {
        .bgText {
            left: -2px;
        }
    }

	/* img.rounded-full {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15); 
    transition: box-shadow 0.3s ease;
	cursor: pointer;
	}

	img.rounded-full:hover {
		box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
	} */

</style>
