<article class="relative ml-3 flex flex-col lg:flex-row items-center gap-x-4">
            <img loading="lazy" class="rounded-full size-64 lg:size-64 mb-4" src="/phColor.webp" alt="leandro photo" />
            <section class="flex flex-col">
            <h3 class="text-xl font-semibold mb-2">LEANDRO ALONSO</h3>
            <p class="text-base text-gray-500 mb-4 text-pretty">Passionate about developing unique solutions to meet user needs and tackling diverse challenges in programming, mathematics, and creativity.</p>
            <p class="text-base text-gray-500 mb-4 text-pretty">Graduated as a Systems Analyst and currently completing a degree in Systems Engineering at the National Technological University.</p>
            <p class="text-base text-gray-500 mb-4 text-pretty">From <span class="font-semibold">Córdoba</span>, <span class="font-semibold text-blue-300">Argentina</span> 🇦🇷!</p>
            </section>
</article>

<style>
    img.rounded-full {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* sombra suave por defecto */
    transition: box-shadow 0.3s ease; /* transición suave */
}

img.rounded-full:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* sombra más pronunciada al hacer hover */
}

h3 {
            background-image: linear-gradient(to right, #D8BFD8, #CCCCFF, #93C5FD, #f56d84, #fab370, #FFDAB9, #FFA07A);
            -webkit-background-clip: text;
            color: transparent;
        }
</style>