---

import ExperienceItem from './ExperienceItem.astro'
import BuildingIcon from '../components/icons/Building.astro'
import DesktopIcon from '../components/icons/Desktop.astro'
import WorldWideIcon from '../components/icons/WorldWide.astro'

const TAGS = {
    ARRIERO: {
        name: 'Arriero Agro Insumos',
        class: 'bg-black',
        icon: BuildingIcon
    },
    GYM: {
        name: 'Gym Fitness Club',
        class: 'bg-black',
        icon: BuildingIcon
    },
    CYM: {
        name: 'CyM - Centro de Especialidades Médicas',
        class: 'bg-black',
        icon: BuildingIcon
    },
    ARRIEROAPP: {
        name: 'Arriero App',
        class: 'bg-black',
        icon: DesktopIcon
    },
    FITMANAGE: {
        name: 'Fit Manage',
        class: 'bg-black',
        icon: WorldWideIcon
    },
    LIFEUP: {
        name: 'LIFE UP',
        class: 'bg-black',
        icon: WorldWideIcon
    },
}

const EXPERIENCE = [
    {
        date: 'January 2023 - December 2023',
        title: 'Full Stack Developer & Systems Analyst',
        description: 'I was in charge of developing a desktop application for the comprehensive management of company operations. I conducted a detailed information gathering through direct observation and dialogue with relevant teams. I proposed a reorganization of the business processes, which included the development of the corresponding process map.',
        link: '',
        tags: [TAGS.ARRIEROAPP ,TAGS.ARRIERO]
    },
    {
        date: 'July 2022 - December 2022',
        title: 'Full Stack Developer',
        description: 'I was in charge of developing a custom web application requested by a gym. This application allows the organization to efficiently manage its daily operations, streamlining numerous tasks and achieving a significant reduction in the number of clients in arrears or with delays in the payment of their monthly fees.',
        link: '',
        tags: [TAGS.FITMANAGE, TAGS.GYM]
    },
    {
        date: 'March 2022 - December 2022',
        title: 'Project Leader & Front End Devoloper',
        description: '2022 was a year full of activity. During this period, I was hired by a gym to develop its web application, while at the same time, I earned my degree as a Systems Analyst at the "Universidad Tecnológica Nacional". For this purpose, with my team, we developed "LIFE UP," a web application designed for use in a medical specialty center. In this project, I not only performed coding tasks but also took on the role of Project Leader.',
        link: '',
        tags: [TAGS.LIFEUP, TAGS.CYM]
    }
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }                  
</ol>

