---
const { tag } = Astro.props
---

<span class={`flex flex-grap gap-2 rounded-full text-sm py-1 px-3 text-white bg-[#13151a] items-center shadow-xl shadow-black/10`}>
    <tag.icon class="size-6" /> 
    {tag.name}
</span>