---

import '@fontsource-variable/onest';
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

interface Props {
	title: string;
	description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en" class="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="fixed inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]"></div>
		<Header />
		<slot />
		<Footer />
		
		<script>
			// Detecta el modo oscuro del sistema y aplica la clase "dark" al <html> si está activado
			if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
			  document.documentElement.classList.add('dark');
			}
		  </script>
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}

	html {
		background-color: #13151a;
		/* background-image: url('../../public/backPort.jpeg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat; */
		font-family: 'Onest Variable' ,system-ui, sans-serif;
		color: #13151a;
		scroll-behavior: smooth;
	}

	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}

	::selection {
    background-color: black;
    color: white;
	}

	/* Para Firefox */
	::-moz-selection {
		background-color: black;
		color: white;
	}

	/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

/* Estilos para el riel de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background: #fff; /* Color de fondo */
}

/* Estilos para el pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background: #3a3f4b;
    border-radius: 5px; /* Borde redondeado del pulgar */
}

/* Estilos para el pulgar de la barra de desplazamiento al hacer hover */
::-webkit-scrollbar-thumb:hover {
    background: #13151a;
}
	
</style>
